.form_container {
  width: 400px;
  margin: 0 auto;
}

#new_user > div.form-actions.btn.btn-primary {
  padding: 0 20px 0 20px;
  margin-bottom: 15px;
}

body > div.container > div > div > div > a:hover {
text-decoration: none;
}
