<%= render'users/dashboard_header' %>
<div class="container my-3 d-flex justify-content-between">
  <div class="" style="width: 400px">
    <div class="card my-3 p-3">
      <h4>
        Number of books you are hosting:
        <%= @no_books %>
      </h4>
    </div>
    <div class="card my-3 p-3">
      <h4>
        Total readings:
        <%= @no_readings %>
      </h4>
    </div>
    <div class="card my-3 p-3">
      <h4>
        Total hostings:
        <%= @no_hostings %>
      </h4>
    </div>
  </div>
</div>
</div>
</div>

