<%= render'users/dashboard_header' %>
<div class="container my-3">
  <h4>Your Readings</h4>
  <% if @readings == [] %>
    <p> No readings yet. </p>
    <%= link_to "Browse Books", books_path, class: "btn btn-outline-secondary" %>
  <% else %>
    <%= render partial: "rentals/rentals_list", collection: @readings, as: :rental%>
  <% end %>
</div>
