<%= render'users/dashboard_header' %>
<div class="container my-3">
  <h4>Your Hostings</h4>
  <% if @hostings == [] %>
    <p> No hostings yet. </p>
  <% else %>
    <%= render partial: "rentals/rentals_list", collection: @hostings, as: :rental%>
  <% end %>
</div>
