<div class="my-3">
  <h3>Reviews</h3>
  <!-- ToDo: Replace hard-coded reviews!-->
  <div class="review-card bg-white p-3 my-3" style="width: 600px">
    <div><strong>5 stars</strong></div>
    The book host was super friendly.
  </div>
  <div class="review-card bg-white p-3 my-3">
    <div><strong>4 stars</strong></div>
    The book host was on time. Book was great.
  </div>
  <div class="review-card bg-white p-3 my-3">
    <div><strong>5 stars</strong></div>
    The book host was lovely and the book in a good condition.
  </div>
</div>
