<% if rental.status == 'canceled' || rental.status == 'closed' %>
  <div class="card-rental-closed">
<% else %>
  <div class="card-rental">
<% end %>
  <div class="row align-items-center justify-content-around">
    <div class="col-3">
      <%= render 'rentals/rental_book_info', rental: rental %>
      <%= render 'shared/status', rental: rental %>
    </div>
    <div class="col-4">
      <%= render 'rentals/rental_buttons', rental: rental %>
    </div>
  </div>
</div>
