<div class="container my-3" style="width: 600px">
  <h3>Your Reading Rentals</h3>
  <%= render partial: "rentals/rentals_list", collection: @rentals, as: :rental%>

  <% if @rentals_host != [] %>
    <h3>Your Host Rentals</h3>
    <%= render partial: "rentals/rentals_list", collection: @rentals_host, as: :rental%>
  <% end %>
</div>
