<div class="host-card my-3 p-3 bg-white w-30" style="width: 400px">
  <div>
    <strong>The Book Host: </strong>
    <%= link_to "#{@book.user.first_name} #{@book.user.last_name}", user_path(@book.user) %>
    <%= link_to (image_tag @book.user.profile_pic, class: "avatar", alt: "Profile picture"), user_path(@book.user) %>
  </div>
  <!-- TODO: Host-Avatar
  <div></div> -->
  <div>
    <!-- ToDo: Replace Location -->
    <strong>Location: </strong>
    <%= @book.user.location %>
  </div>
  <div>
    <!-- ToDo: Replace duration -->
    <strong>Rental duration: </strong>up to 4 weeks
  </div>
  <div class="py-1">
    <% if @book.rented %>
      This book is currently <strong>not available</strong> for rent.
    <% else  %>
      This book is currently <strong>available</strong> for rent.
    <% end %>
  </div>
</div>

