<% if @book.rentals != [] %>
  <% @book.rentals.each do |rental| %>
    <% if rental.reviews != [] %>
      <% rental.reviews.each do |review| %>
      <% next if review.is_reader == false %>
        <div class="review-card bg-white p-3 my-3" style="width: 600px">
          <div>
            <% review.rating.times do %>
              <i class="far fa-star stars"></i>
            <% end %>
          </div>
            <%= review.content %>
            <br>
            <div class="card-review-info">
              <div class="px-2">
                <%= cl_image_tag rental.user.profile_picture.url(:thumnail), class: "avatar"%>
              </div>
              <div>
                <p class="username m-0 p-0"><%= rental.user.first_name %></p>
                <p class="user-since">Since <%= rental.user.created_at.year %> on Booklery</p>
              </div>
            </div>
        </div>
      <% end %>
    <% else %>
      <p>No reviews yet</p>
    <% end %>
  <% end %>
<% else %>
  <p>No reviews yet</p>
<% end %>
