a {
  text-decoration: none;
  color: $blue;
}

a:hover {
  text-decoration: none;
  color: $green;
}

.card-white {
  border-radius: 4px;
  box-shadow: 1px 1px 24px rgba(50, 52, 50, 0.1);
  padding: 24px;
  margin: 32px 0;
  background-color: white;
}

.review-card {
  width: 80%;
  border-radius: 4px;
  background-color: white;
  box-shadow: 1px 1px 24px rgba(50, 52, 50, 0.1);
  padding: 16px;
  margin: 24px 0;
  .bookname {
    color: grey;
    font-size: 0.8em;
    margin-top: 5px;
    //padding-top: 15px;
    margin-bottom: 0;
    margin-bottom: 0;
  }
  .stars {
    color: blue;
  }
  .username {
    font-size: 1em;
    font-weight: bold;
  }
  .user-since {
    color: grey;
    font-size: 0.8em;
  }
  .card-review-info {
    padding-top: 5px;
    padding-right: 10px;
    display: flex;
    //justify-content: space-between;
    //align-items: flex-end;
  }
}

.book-card-sm {
  width: 80%;
  overflow: hidden;
  height: 120px;
  background: white;
  border-radius: 4px;
  box-shadow: 1px 1px 24px rgba(50, 52, 50, 0.1);
  display: flex;
  align-items: center;
  .img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }
  .card-infos {
    padding: 16px;
  }
}
.grid {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin: 24px 0;
}
