
.container-kpi {
  width: 90vw;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 32px;
  justify-content: center;
  justify-items: center;
  font-size: 24px;
}
.card-kpi {
  background-color: white;
  color: $blue;
  border: 1px solid $blue;
  text-align: center;
  vertical-align: center;
  padding: 24px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 1px 1px 24px rgba(50, 52, 50, 0.1);
  align-items: center;
}

.green {
  background-color: white;
  color: $green;
  border: 1px solid $green;
}

.bold-num {
  font-weight: bold;
  font-size: 32px;
}

.card-rental {
  border-radius: 4px;
  box-shadow: 1px 1px 24px rgba(50, 52, 50, 0.1);
  padding: 24px;
  margin: 32px 0;
  background-color: white;
}

.card-rental-closed {
  border-radius: 4px;
  box-shadow: 1px 1px 24px rgba(50, 52, 50, 0.1);
  padding: 24px;
  margin: 32px 0;
  background-color: white;
  color: grey;
}

